.default {
  @apply text-stone-900;

  :global(.dark) & {
    @apply text-stone-100;
  }
}

.heading-with-icon {
  @apply flex flex-row justify-start items-center;
  @apply text-2xl md:text-4xl lg:text-5xl font-extrabold mb-6;
  @apply text-stone-200;

  svg {
    @apply w-8 sm:w-8 md:w-12;
    @apply text-amber-600 fill-amber-600 shrink-0;
  }
}

.body {
  @apply prose prose-stone lg:prose-lg xl:prose-xl;

  :global(.dark) & {
    @apply prose-invert;
  }
}
