.contain {
  @apply container m-auto relative;

  @apply px-2 sm:px-2 md:px-3 lg:px-5;

  @apply print:!m-0 print:!p-0 print:!w-full print:!max-w-full;
}

.contain.screen {
  @apply h-screen;
}

.hr {
  @apply border-type;
  :global(.dark) & {
    @apply border-type-dark;
  }
}
