.contain {
  @apply container m-auto relative;
  composes: pb from 'spacing.module.pcss';
  composes: px-half from 'spacing.module.pcss';
  composes: first-pt from 'spacing.module.pcss';
}

.contain.screen {
  @apply h-screen;
}

.hr {
  @apply border-stone-700 dark:border-stone-100;
}
