.highlight {
  @apply print:!text-inherit;
  :global(.print-dark) & {
    @apply !text-primary;
  }

  @apply text-primary;

  &.accent {
    @apply text-accent;
  }

  &.tertiary {
    @apply text-tertiary;
  }
}
