.container {
  @apply flex;
  @apply flex-col;
  @apply sm:flex-row print:flex-row;
  @apply print:!h-full;
}

.sidebar {
  @apply w-full sm:w-1/3 print:w-1/3;
}

.content {
  @apply w-full sm:w-2/3 print:w-2/3;
}
