.main {
  @apply container mx-auto px-4;
}

.split-flap-wrapper {
  @apply sm:flex flex-wrap w-full sm:w-auto;
  @apply sm:p-0;
  composes: mall from '../../styles/spacing.module.pcss';
  composes: pall from '../../styles/spacing.module.pcss';
}
.jumbo-main-content {
  @apply flex flex-col justify-center items-center w-full h-full absolute top-0 left-0;
}
