.entry {
  @apply text-type;

  :global(.dark) & {
    @apply text-type-dark;
  }
}

.row {
  @apply flex justify-between items-center;
}
.row-collapse {
  @apply flex flex-col print:flex-row print:justify-between sm:flex-row sm:justify-between items-start;
}

.tech-wrapper {
  @apply flex flex-row flex-wrap max-h-7 overflow-hidden;
  @apply md:max-h-8;
}

.badge-wrapper {
  @apply mr-2 mb-2;
}
