.projects-wrapper {
  @apply flex flex-col;
}

.entry {
  @apply flex flex-row;
}

.left,
.right {
  @apply border border-blue-500;
}

.left {
  @apply w-1/4;

  @apply flex flex-col items-center;
}

.year {
  /*todo*/
}
.timeline {
  @apply w-px bg-black flex-1;
}

.right {
  @apply flex-1;
  @apply h-32;
}
