.header {
  @apply my-10 md:my-16 lg:my-24 print:my-12 rounded-lg;
}

.title {
  @apply text-3xl md:text-4xl lg:text-6xl font-bold text-black print:text-black;
}

.subtitle {
  -webkit-print-color-adjust: exact;
  @apply text-xl md:text-2xl lg:text-3xl font-bold bg-purple-500 text-transparent bg-gradient-to-tr via-pink-500 from-purple-500 to-yellow-500 bg-clip-text;
}
