.jumbotron-card {
  @apply relative;
  @apply w-full h-screen;
  @apply bg-purple-400;
  @apply flex justify-center items-center;
  @apply bg-cover;
  @apply overflow-clip;
}

.jumbotron-content {
  @apply w-full h-full;
}

.jumbo-round {
  .jumbotron-card {
    @apply h-full;
  }
  @apply w-full h-screen;
  @apply p-4 md:p-6 lg:p-10;

  @apply rounded-lg;

  .jumbotron-card {
    @apply rounded-lg;
  }
}
