.jumbotron-card {
  @apply relative;
  @apply w-full h-full;
  @apply bg-stone-700;
  @apply flex justify-center items-center;
  @apply bg-cover;
  @apply overflow-clip;
}

.jumbotron-content {
  @apply w-full h-full z-1;
}
.jumbo {
  @apply w-full h-full;
  @apply drop-shadow-lg;
  .jumbotron-card {
    @apply h-full;
  }
}

.jumbo-round {
  @apply rounded-lg;

  .jumbotron-card {
    @apply rounded-lg;
  }
}
