.texture-preview {
  @apply w-96 h-96 rounded m-6 relative;
  @apply bg-placeholder;
}

.texture {
  @apply absolute w-full h-full left-0 top-0;
  @apply bg-repeat;
  background-size: 50%;
}

.fabric-dark {
  background-image: url('../../assets/textures/45-degree-fabric-dark.png');
}

.fabric-light {
  background-image: url('../../assets/textures/45-degree-fabric-dark.png');
}
