.breakpoint-xs {
  @apply sm:hidden;
}

.breakpoint-sm {
  @apply hidden sm:inline md:hidden;
}

.breakpoint-md {
  @apply hidden md:inline lg:hidden;
}

.breakpoint-lg {
  @apply hidden lg:inline xl:hidden;
}

.breakpoint-xl {
  @apply hidden xl:inline 2xl:hidden;
}

.breakpoint-xxl {
  @apply hidden 2xl:inline;
}
