.avatar {
  @apply aspect-square  rounded-full bg-white overflow-clip;
  @apply outline outline-offset-4 outline-[12px] outline-indigo-500;
  @apply w-2/3;

  composes: mall from '../../styles/spacing.module.pcss';
  composes: mt-double from '../../styles/spacing.module.pcss';
  @apply mx-auto;
}
